!!! 5
%html
  %head
    %base(href="/")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %title= "NoSprawl / SecOps Platform"
    %link(rel="stylesheet" href="styles/base.css")
    %script(src="/node_modules/reflect-metadata/Reflect.js")
    %script(src="/node_modules/zone.js/dist/zone.min.js")
    %script(src="/node_modules/systemjs/dist/system.js")
    :javascript
      //<!--[CDATA[
      System.config({
        baseURL: '/node_modules',
        defaultJSExtensions: true,
        paths: {
          'app/*': './app'
        },
        packages: {
          app: {
            format: "register",
            defaultExtension: "js"
          }

        }

      });

      System.import("/app/boot").catch(console.error.bind(console));
      //]]-->
  %body
    %app
