!!! 5
%html
  %head
    %title= "NoSprawl / SecOps Platform"
    %script(src="node_modules/angular2/bundles/angular2-polyfills.js")
    %script(src="node_modules/rxjs/bundles/Rx.umd.js")
    %script(src="node_modules/angular2/bundles/angular2-all.umd.js")
    %script(src="app/components/login.js")
    %script(src="app/boot.js")
  %body
    %nosprawl
