nav img {
  display: block;
  position: relative;
  top: 1px;
}

nav {
  margin-bottom: 35px;
}

#content h2 {
  font-size: 1.2em;
}

#content label {
  font-size: .9em;
}

#content input {
  font-size: .8em;
}
